h1 {
    text-align: center;
}

table {
    margin: auto;
}

td {
    padding: 0;
    width: 70px;
    height: 70px;
}

.vertical {
    border-left: 1px solid black;
    border-right: 1px solid black;
}

.horizontal {
    border-top: 1px solid black;
    border-bottom: 1px solid black;
}
