<h1>This is the secret page!</h1>

<p>you found me!</p>

<img src="https://farm5.staticflickr.com/4285/35554200925_764da7b272.jpg">

<li><a href="/register">SignUp!</a></li>
<li><a href="/login">Login!</a></li>
<li><a href="/logout">Logout!</a></li>